.report-file {
    display: block;
    position: relative;
    width: 120px;
    height: 28px;
    overflow: hidden;
    border: 1px solid #428bca;
    background: none repeat scroll 0 0 #428bca;
    color: #fff;
    cursor: pointer;
    text-align: center;
    float: left;
    margin-right:5px;
}
.report-file span {
    cursor: pointer;
    display: block;
    line-height: 28px;
}
.file-prew {
    cursor: pointer;
    position: absolute;
    top: 0;
    left:0;
    width: 120px;
    height: 30px;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
}