<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mexc.dao.dao.member.MexcLevelDAO">
    
    <resultMap id="BaseResultMap" type="com.mexc.dao.model.member.MexcLevel">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="level_name" jdbcType="VARCHAR" property="levelName" />
        <result column="limit_amount" jdbcType="DECIMAL" property="limitAmount" />
        <result column="create_by" jdbcType="INTEGER" property="createBy" />
        <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_by" jdbcType="INTEGER" property="updateBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    </resultMap>
    
    <sql id="Param_Base_Clause">
        <if test="map != null">
            <foreach collection=" map.list " item="criteria">
                 ${criteria.condition} 
                <if test=" criteria.haveValue ">
                     #{criteria.value} 
                </if>
            </foreach>
        </if>
    </sql>
    
    <sql id="Base_Column_List">
        id, level, level_name, limit_amount, create_by, create_by_name, create_time, update_by, 
        update_time, update_by_name
    </sql>
    
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from t_mexc_level
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mexc_level
    </select>
    
    <select id="selectPagination" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mexc_level
        <include refid="Param_Base_Clause" />
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_mexc_level
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <insert id="insert" parameterType="com.mexc.dao.model.member.MexcLevel">
        insert into t_mexc_level (id, level, level_name, 
            limit_amount, create_by, create_by_name, 
            create_time, update_by, update_time, 
            update_by_name)
        values (#{id,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{levelName,jdbcType=VARCHAR}, 
            #{limitAmount,jdbcType=DECIMAL}, #{createBy,jdbcType=INTEGER}, #{createByName,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
            #{updateByName,jdbcType=VARCHAR})
    </insert>
    
    <insert id="insertSelective" parameterType="com.mexc.dao.model.member.MexcLevel">
        insert into t_mexc_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="levelName != null">
                level_name,
            </if>
            <if test="limitAmount != null">
                limit_amount,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createByName != null">
                create_by_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateByName != null">
                update_by_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="levelName != null">
                #{levelName,jdbcType=VARCHAR},
            </if>
            <if test="limitAmount != null">
                #{limitAmount,jdbcType=DECIMAL},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createByName != null">
                #{createByName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateByName != null">
                #{updateByName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.mexc.dao.model.member.MexcLevel">
        update t_mexc_level
        <set>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="levelName != null">
                level_name = #{levelName,jdbcType=VARCHAR},
            </if>
            <if test="limitAmount != null">
                limit_amount = #{limitAmount,jdbcType=DECIMAL},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createByName != null">
                create_by_name = #{createByName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateByName != null">
                update_by_name = #{updateByName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.mexc.dao.model.member.MexcLevel">
        update t_mexc_level
        set level = #{level,jdbcType=INTEGER},
            level_name = #{levelName,jdbcType=VARCHAR},
            limit_amount = #{limitAmount,jdbcType=DECIMAL},
            create_by = #{createBy,jdbcType=INTEGER},
            create_by_name = #{createByName,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_by = #{updateBy,jdbcType=INTEGER},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            update_by_name = #{updateByName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <select id="selectByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mexc_level
        <include refid="Param_Base_Clause" />
    </select>
    
    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_mexc_level (id, level, level_name, 
            limit_amount, create_by, create_by_name, 
            create_time, update_by, update_time, 
            update_by_name)
         values 
        <foreach  collection="list" index="index" item="item" separator=",">
             (#{item.id,jdbcType=VARCHAR}, #{item.level,jdbcType=INTEGER}, #{item.levelName,jdbcType=VARCHAR}, 
                #{item.limitAmount,jdbcType=DECIMAL}, #{item.createBy,jdbcType=INTEGER}, #{item.createByName,jdbcType=VARCHAR}, 
                #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=INTEGER}, #{item.updateTime,jdbcType=TIMESTAMP}, 
                #{item.updateByName,jdbcType=VARCHAR}
            )
        </foreach >
    </insert>
    
    <update id="updateByParam">
        update t_mexc_level
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.level != null">
                level = #{record.level,jdbcType=INTEGER},
            </if>
            <if test="record.levelName != null">
                level_name = #{record.levelName,jdbcType=VARCHAR},
            </if>
            <if test="record.limitAmount != null">
                limit_amount = #{record.limitAmount,jdbcType=DECIMAL},
            </if>
            <if test="record.createBy != null">
                create_by = #{record.createBy,jdbcType=INTEGER},
            </if>
            <if test="record.createByName != null">
                create_by_name = #{record.createByName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateBy != null">
                update_by = #{record.updateBy,jdbcType=INTEGER},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateByName != null">
                update_by_name = #{record.updateByName,jdbcType=VARCHAR},
            </if>
        </set>
        <include refid="Param_Base_Clause" />
    </update>
    
    <delete id="deleteByParam">
        delete from t_mexc_level
        <include refid="Param_Base_Clause" />
    </delete>
    
    <update id="truncate">
        truncate t_mexc_level
    </update>
    
    <select id="countAll" resultType="java.lang.Long">
        select count(*) from t_mexc_level
    </select>
    
    <select id="countByParam" resultType="java.lang.Long">
        select count(*) from t_mexc_level
        <include refid="Param_Base_Clause" />
    </select>
    
    <select id="selectOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mexc_level
        <where>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR}
            </if>
            <if test="record.level != null">
                 and level = #{record.level,jdbcType=INTEGER}
            </if>
            <if test="record.levelName != null">
                 and level_name = #{record.levelName,jdbcType=VARCHAR}
            </if>
            <if test="record.limitAmount != null">
                 and limit_amount = #{record.limitAmount,jdbcType=DECIMAL}
            </if>
            <if test="record.createBy != null">
                 and create_by = #{record.createBy,jdbcType=INTEGER}
            </if>
            <if test="record.createByName != null">
                 and create_by_name = #{record.createByName,jdbcType=VARCHAR}
            </if>
            <if test="record.createTime != null">
                 and create_time = #{record.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="record.updateBy != null">
                 and update_by = #{record.updateBy,jdbcType=INTEGER}
            </if>
            <if test="record.updateTime != null">
                 and update_time = #{record.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="record.updateByName != null">
                 and update_by_name = #{record.updateByName,jdbcType=VARCHAR}
            </if>
        </where>
         limit 1
    </select>
    
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mexc_level
        <where>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR}
            </if>
            <if test="record.level != null">
                 and level = #{record.level,jdbcType=INTEGER}
            </if>
            <if test="record.levelName != null">
                 and level_name = #{record.levelName,jdbcType=VARCHAR}
            </if>
            <if test="record.limitAmount != null">
                 and limit_amount = #{record.limitAmount,jdbcType=DECIMAL}
            </if>
            <if test="record.createBy != null">
                 and create_by = #{record.createBy,jdbcType=INTEGER}
            </if>
            <if test="record.createByName != null">
                 and create_by_name = #{record.createByName,jdbcType=VARCHAR}
            </if>
            <if test="record.createTime != null">
                 and create_time = #{record.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="record.updateBy != null">
                 and update_by = #{record.updateBy,jdbcType=INTEGER}
            </if>
            <if test="record.updateTime != null">
                 and update_time = #{record.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="record.updateByName != null">
                 and update_by_name = #{record.updateByName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>